@import url(https://fonts.googleapis.com/css?family=Roboto);

*{box-sizing: border-box;}

body {
  background: #2e2e2e url(http://wallpaperget.com/images/vector-hd-wallpapers-6.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
  overflow: hidden;
  -webkit-transition: background 2s;
  transition: background 2s;
  -webkit-animation: 20s background infinite linear;
          animation: 20s background infinite linear;
}

body.alt {
  background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_clans_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
}

section {
  padding: 2em 0;
}

.loader-text {
  margin-top: 50px;
  font-size: 80px;
  letter-spacing: 30px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  -webkit-animation: 20s expand infinite linear;
          animation: 20s expand infinite linear;
}

p {
  letter-spacing: 20px;
  padding: 20px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 1);
}

.loader-icon,
.loader-icon:before,
.loader-icon:after {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.loader-icon {
  margin: 0 auto;
  position: relative;
  background: transparent;
}

.loader-icon:before,
.loader-icon:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  border: 15px solid #efefef;
  opacity: 0.5;
  -webkit-animation: 3s rotate infinite linear;
          animation: 3s rotate infinite linear;
}

.loader-icon:before {
  border-left-color: transparent;
}

.loader-icon:after {
  top: 16.5%;
  left: 16.5%;
  width: 100px;
  height: 100px;
  border-right-color: transparent;
  opacity: 0.2;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes expand {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes expand {
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans', sans-serif;
}

a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #EE3769;
  border-radius: 8px;
  height: 2.8em;
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #EE3769;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
}
a::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
a:hover {
  color: #fff;
}
a:hover::before {
  box-shadow: inset 0 0 0 10em #ee3769;
}


@-webkit-keyframes background {
  45% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_destiny_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
  50% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_clans_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
  95% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_clans_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
}

@keyframes background {
  45% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_destiny_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
  50% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_clans_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
  95% {
    background: #2e2e2e url(https://www.bungie.net/img/theme/destiny/headers/forum_headers_clans_v2.jpg?cv=3983621212&av=446517217) no-repeat center;
  background-size: cover;
  }
}

